
.bisiesto {
    color: red;         
    background-color: #d0f0ff; 
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px 0;
}

.nacimiento {
    color: black;               
    background-color: #c8f7c5;   
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px 0;
    border: 2px solid green;    

}
